body {background-color: #00CED1;}


h1 {color:#800080;
	font-family: 'Rubik', light;
	border: 5px solid #800080;
	text-align: center;
	}

table {color: #800080;
	   border: 2px solid black;
	  }

th {background-color: white;
	border: 2px solid black;
   }	  

td {background-color: white;
	color: blue;
	border: 2px solid black;
	text-align: center;
   }
